.footer__column-text {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  opacity: 1;
  transition: opacity .3s linear;
}

.footer__column-text:hover {
  opacity: 0.6;
}
