.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  overflow: hidden;

}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/* content */

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__brief_link {
  text-decoration: none;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.two-columns__paragraph_middle {
  margin: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/* digits */

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text-world-bank {
  margin: 0;
  margin-top: 20px;
}

/* feinman */

.feinman {
  position: relative;
  height: 790px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}

.feinman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feinman__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

/* kaufman */

.kaufman {
  background-color: #1f1f1f;
  background-image: url(/images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-position: top right -210px;
  background-size: 887px 887px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;

}

.section-title__theme_dark {
  font-size: 60px;
  font-weight: bold;
  margin-top: 90px;
}

.section-subtitle__theme_dark {
  font-weight: normal;
}

.table_theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  margin-right: 0;
  margin-top: 80px;
  width: 200px;
}

/* footer */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
}

.footer__columns {
  min-height: 250px;
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  flex-basis: auto;
}

.footer__column-links {
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 20px;
}

.footer__social-icon {
  font-weight: normal;
  display: block;
  text-decoration: none;
  color: white;
}

.footer__social-icon:nth-of-type(2) {
  margin: 10px 0;
}

.footer__social-icon:nth-of-type(3) {
  margin-bottom: 16px;
}

.footer__social-icon>img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
